<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Site d'Arras - {% endblock %}</title>
    <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
</head>

{% block body %}

<body>

    <nav class="navbar navbar-dark bg-primary">
        <li><a class="dropdown-item" href="#">lien 1</a></li>
        <li><a class="dropdown-item" href="#">lien 2</a></li>
        <li><a class="dropdown-item" href="#">lien 3</a></li>
    </nav>



    <div class="example-wrapper">

        <h1>Hello {{ controller_name }}! ✅</h1>


        This friendly message is coming from:

        <ul>

            <li>Your controller at <code><a href="{{ '/var/www/html/share/src/Controller/BaseController.php'|file_link(0) }}">src/Controller/BaseController.php</a></code></li>

            <li>Your template at <code><a href="{{ '/var/www/html/share/templates/base/index.html.twig'|file_link(0) }}">templates/base/index.html.twig</a></code></li>

        </ul>

    </div>
</body>

{% endblock %}
{% endblock %}